<nav> 
	<header style="padding-bottom:10px; padding-top:10px">
		<h2 class="wavyheader" style="width: 88px;">
			<a href="/">
				<span style="--i:0">J</span><span style="--i:1">A</span><span style="--i:2">S</span><span style="--i:3">P</span><span style="--i:4">E</span><span style="--i:5">V</span>
			</a>
		</h2>
	</header>
	<hr>
	<div style="padding-top:10px">
		<ul style="text-align: center;">
			{{ range where .Site.AllPages.ByTitle "Params.type" "nav" }}
				<li>
					<a href="{{ .RelPermalink }}">
						{{ .Title -}}
					</a>
				</li>
			{{ end }}
		</ul>
	</div>
</nav>